@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 4rem;
}
.sub-container {
	height: 28rem;
	width: 22vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1.1rem;
	background: #191b28;
	box-shadow: inset 11px 11px 22px #0a0b10, inset -11px -11px 22px #282b40;
}
.audio-image {
	height: 10rem;
	width: 18vw;
	border-radius: 10px;
	margin: 2rem 0;
	border: 0.2rem solid white;
}
.sub-container p {
	color: #fff;
	margin: 0.5rem 0;
	font-size: 0.8rem;
}
.wavesurfer-container {
	margin: 1rem 0;
}
.wavesurfer-controls {
	display: flex;
	margin-top: 1.5rem;
}
.wavesurfer-controls button {
	font-size: 1.5rem;
	color: white;
	margin: 0 0.5rem;
}
.wavesurfer-controls button:nth-child(2),
.wavesurfer-controls button:nth-child(3) {
	background-color: #f90;
	background: linear-gradient(210deg, #f90, rgb(227, 180, 114));
	border-radius: 2rem;
	padding: 0.8rem;
	background: #191b28;
	box-shadow: inset 11px 11px 22px #0a0b10, inset -11px -11px 22px #282b40;
}

@media screen and (max-width: 998px) {
	.sub-container {
		height: 32rem;
		width: 80vw;
	}
	.audio-image {
		height: 13rem;
		width: 67vw;
	}
}

.waveform-container {
	display: flex; /* Establish flex container */
	align-items: center; /* Center items vertically */
	width: 100%; /* Set the container to take full width of its parent */
}

.waveform-ref-style {
	flex-grow: 1; /* Allow the waveform to grow and fill the remaining space */
	height: 80px; /* Set a fixed height for the waveform */
	background-color: #f8fafc; /* Set a light background color */
	border-radius: 4px; /* Slightly round the corners */
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}
